.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #FF6633, #F63F2E);
}

.header__navbar{
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;   
    position: relative;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 8px 0 0 0;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    padding: 0 8px;  
    position: relative;
    min-height: 20px;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user-avt {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.01);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.3rem;
    font-weight: 500;
}

.header__navbar-user:hover 
.header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu{
    position: absolute;
    z-index: 2;
    padding-left: 0;
    right: 8px;
    top: 125%;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    transform-origin: 90% top;
    animation: growthFromBase ease-in 0.25s;
    display: none;
}  

.header__navbar-user-menu::before {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 10px 15px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -18px;
    right: calc(0% + 10px);
}

.header__navbar-user-menu::after {
    position: absolute;
    content: "";
    display: block;
    top: -8px;
    right: 0;
    width: 50%;
    height: 8px;
}

.header__navbar-user-item{
    
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item 
.header__navbar-user-item--logout {
    color: #00bfa5;
}

.header__navbar-item-has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item-has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
}

.header__navbar-item,
.header__navbar-item-link, 
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}


.header__navbar-item:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7)
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color) !important;
}

.header__navbar-icon-link{
    cursor: pointer;
}

.header__navbar-item--separate {
    border-right: 2px solid hsla(0, 0%, 100%, .22);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) { 
    margin: 4px 0px 4px 4px;
}

.header__navbar-icon{
    font-size: 1.4rem;
    margin: 0 4px;
}

/* QR Code Download */
.header__qr {   
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    z-index: 3;
    left: 0%;
    top: 125%;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.1s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 50%;
    top: -15px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    left: 0%;
    margin-top: -8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

.header__qr-download-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-download-link:nth-child(2) {
    margin-right: 11px;
    padding-bottom: 2px;
}

.header__qr-download-img {
    height: 17.5px;
}

/* Header notification */
.header__notify {
    width: 404px;
    position: absolute;
    right: 8px;
    top: 118%;
    background-color: var(--white-color);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.03);
    transform-origin: calc(100% - 34px) top;
    animation: growthFromBase ease .25s;
    will-change: opacity, transform;
    display: none;
    z-index: 3;
}

@keyframes growthFromBase {
        from {
            opacity: 0;
            transform: scale(0);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
}

.header__notify::before{
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -28px;
    right: calc(0% + 9px);
}

.header__notify::after{
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 20px;
    right: 0;
    top: -16px;
}

.header__notify-header {
    background-color: var(--white-color);
    height: 40px;
}

.header__notify-header h3{
    color: rgb(189, 186, 186);
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 0 8px;
    line-height: 40px;
    cursor: text;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background: rgba(238, 77, 45, 0.1);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
    margin-top: -10px;    
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__notify-descrip {
    display: block;
    font-size:  1.2rem;
    color: rgb(136, 134, 134);
    font-weight: normal;
    line-height: 1.4rem;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
    background-color: rgba(250, 250, 250, 0.5);
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    margin:  auto;
    padding: 8px 12px;
    font-size: 1.5rem;
    font-weight: 400;
}

/* Form Login/Signup */
.auth-form {
    color: var(--text-color);
    background-color: var(--white-color);
    border-radius: 4px;
    overflow: hidden;
}

.auth-form__container {
    padding: 14px 32px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
}

.auth-form__switch-btn {
    font-size: 1.8rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__group {
    margin-top: 1.2rem;
}

.auth-form__input {
    width: 100%;
    line-height: 3.6rem;
    font-size: 1.4rem;
    padding-left: 10px;
    border: 1px solid #bdbdbd;
    outline: none;
}

.auth-form__input:focus {
    border: 1px solid #777;
}

.auth-form__aside {
    margin-top: 28px;
}

.auth-form__policy-text {  
    padding: 0 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 8.0rem;
    display: flex;
    justify-content: flex-end;
    margin-left: 1rem;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    margin-top: 2.2rem;
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon{
    font-size: 2rem;
}

.auth-form-socials--facebook { 
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form-socials--facebook
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 24px;
    font-weight: 600;
}

.auth-form-socials--google {
    background-color: var(--white-color);
    color: var(--black-color);
}

.auth-form-socials--google 
.auth-form__socials-title {
    color: #666;
}

/* Login Form  */
.auth-form__help {
    display: flex;
    justify-content: flex-end;    
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
    font-weight: 500;
}

.auth-form__help-separate {
    height: 20px;
    border-left: 1px solid #eaeaea;
    margin: 0px 15px;
    display: block;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header with search  */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding: 16px 0 10px;
    margin: 0 7px;
    border-radius: 2px;
}

.header__mobile-search {
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
    padding: 0 10px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
    display: block;
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

.header__logo-img{
    width: 150px;
    color: var(--white-color);
}

.header__search {
    flex: 1;
    background-color: var(--white-color);
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    z-index: 1;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input:focus~ 
.header__search-history {
    display: block;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
    color: var(--text-color);
}

.header__search-drawer {
    max-width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.header__search-drawer:hover
.header__search-option {
    display: block;
}

.header__search-select{
    padding-left: 16px;   
    border-left: 1px solid rgba(0,0,0,.09);
}


.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: rgba(0,0,0,.6);
    margin: 0 8px 0 8px;
    position: relative;
    top: 2px;
}

.header__search-option {
    position: absolute;
    list-style: none;
    right: 0;
    top: calc(105% + 1px);
    width: 120px;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    background-color: var(--white-color);
    display: none;
    margin: 0;
    border-radius: 2px;
    animation: fadeIn ease-in 0.2s;
    cursor: pointer;
    z-index: 2;
}

.header__search-option::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
}

.header__search-option-item {
    border-radius: 2px;
    padding: 8px 8px;
}

.header__search-option-item:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item span {
    color: var(--text-color);
    font-size: 1.4rem;
    margin-left: 12px;
}

.header__search-option-item i {
    color: var(--primary-color);
    margin-left: 7px;
    display: none;    
}

.header__search-option-item--active i{
    display: inline-block;
}

.header__search-btn {
    width: 60px;
    height: 34px;
    background-color: var(--primary-color);
    outline: none;
    margin-right: 2px;
    border: none;
    border-radius: 2px;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    color: var(--white-color);
    font-size: 1.4rem;
}

/* Search history  */
.header__search-history {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);   
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(194, 192, 192);
    display: none;
}

.header__search-history::before {
    content: "";
    position: absolute;
    display: block;
    height: 10px;
    width: 100%;
    top:-10px;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: rgba(0,0,0,.26);
    font-weight: 400;
}

.header__search-history-list {
    list-style: none;
    padding: 0;  
    margin: 0;  
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
}

.header__cart {
    width: 138px;
    text-align: center;
    cursor: pointer;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 8px;
    -webkit-tap-highlight-color: transparent;
}


.header__cart-icon {
    margin-top: 5px;
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 7px);
    right: -2px;
    background-color: var(--white-color);
    width: 402px;
    border-radius: 2px;    
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    z-index: 1;
    transform-origin: calc(100% - 5px) top;
    animation: growthFromBase ease-in 0.25s;
    cursor: default;
    display: none;
}

.header__cart-list::before {
    content: "";
    position: absolute;
    display: block;
    right: calc(0% + 7px);
    top: calc(0% - 18px);
    border-style: solid;
    border-width: 10px 15px;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-wrap:hover 
.header__cart-list {
    display: block;
}

.header__cart-list--no-cart {
    padding: 58px 0 48px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
}

.header__cart-no-cart-img {
    width: 25%;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list-no-cart-msg {
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--text-color);
    display: none;
}

.header__cart-notice {
    position: absolute;
    padding: 1px 6px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.2rem;
    border-radius: 10px;
    top: 2px;
    right: -5px;
    border: 2px solid var(--primary-color);
}

/* Has cart  */
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid rgb(238, 238, 238);
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.header__cart-item-name {
    max-width: 100%;
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    flex: 1;
    padding-right: 16px;
    height: 1.4rem;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.header__cart-item-price-wrap {
}

.header__cart-item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}

.header__cart-item-multiply {
    color: #757575;
    font-size: .9rem;
    margin: 0 4px;
}

.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 400;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

/* Header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: 46px;
    background-color: var(--white-color);
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
    list-style: none;
}

.header__sort-link {
    text-decoration: none;
    color:var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: 46px;
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}
