/* Mobile & Tablet */
@media (max-width: 1023px) {
    
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
    }
    .header__cart-list {
        position: fixed;
        top: 61px;
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }
    .header__cart-list::before {
        display: none;
    }
    .app__container {
        margin-top: calc(var(--header-height) + 46px);
        /* margin-left: 50px; */
    }
    .header__sort-bar{
        display: flex;
    }
    .app__content {
        padding-top: 6px;
    }
    .mobile-category {
        display: block;
    }
    .category {
        display: none;
    }
    .grid__column-2-4 {
        width: 33.33333%;
    }
    .home-product__pagination {
        margin: 20px 0;
        padding: 0;
    }
    .pagination-item {
        margin: 0;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
        text-align: right;
    }
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }
    @keyframes mobileSearchSideIn {
        form {
            top: calc(var(--header-height) / 2);
            opacity: 0;
        }
        to {
            top: var(--header-height);
            opacity: 1;
        }
    }
    .hide-on-mobile {
        display: none;
    }
    .header-with-search {
        justify-content: space-between;
    }
    .header__logo, .header__cart {
        width: unset;
    }
    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        z-index: 1;
        padding: 0 16 px;
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }
    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + 48px);
        width: 100%;
        left: 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    .header__mobile-search {
        display: block;
    }
    .header__logo-img {
        width: 100px;
    }
    .header__cart {
        margin-right: 10px;
    }
    .footer__content {
        padding: 0 16px;
    }
    .footer__heading {
        text-align: center;
    }
    .footer__download,
    .footer-item__link {
        justify-content: center;
    }
    .footer__download-apps {
        flex: unset;
    }
    .grid__row {
        padding: 0 2px;
    }
    .footer__download-app-link {
        display: block;
        padding: 6px 8px;
    }
}