/* App container */
.app_container {
    background-color: #F4F4F4;
}

.app__content {
    padding-top: 36px;
}

.category {
    border-radius: 2px;
}

.category__heading {
    font-size: 1.8rem;
    color: #555555;
    padding: 16px 0px 12px 0px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0,0,.05);
}

.category__heading-icon {
    font-size: 1.3rem;
    margin-right: 6px;
    position: relative;
    top: -1px;
}


.category-list {
    padding-left: 0;
    list-style: none;
    padding-left: 10px;
    color: var(--text-color);
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    position: absolute;
    content: "";
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    left: -8px;
    top: 50%;
    transform: translateY(calc(50% - 10px));
}

.category-item__link {
    display: block;
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 12px 8px 4px;
    right: 0;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Home sort + filter */
.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.03);
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
}

.home-filter 
.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
    border-radius: 2px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
    border: 1px solid rgba(0,0,0,0.08);
}   

.home-filter__page-btn--disabled {
    cursor: default;
    background-color: #f9f9f9;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product item */
.home-product {
    margin-bottom: 4px;
}

.home-product-item {
    display: block;
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    color: var(--text-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,.1);
    transition: transform ease-in-out 0.1s;
    will-change: transform;
    cursor: pointer;
}

.home-product-item:hover {
    box-shadow: 0 0.1rem 2rem 0 rgba(0,0,0,.05);
    transform: translateY(-1px);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}

.home-product-item__name {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    margin: 10px;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
}

.home-product-item__price u {
    font-size: 1.2rem;
}

.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    margin-left: 10px;
    font-size: 1.6rem;
    color: var(--primary-color);
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 4px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
    color: #888;
    margin-right: 2px;
}

i.home-product-item__like-icon-fill {
    display: none;
    color: #f63d30;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.8rem;
    margin-left: auto;
    color: #DDD;
}

i.home-product-item__rating--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    margin-left: 4px;
    font-size: 1.2rem;
}

.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    color: #7e7d7d;
    font-size: 1.2rem;
}


.home-product-item__favourite {
    position: absolute;    
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite span {
    color: var(--white-color);
    padding: 0 4px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
}

.home-product-item__favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 61, 0.9);
    padding: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left:0;
    bottom: -5px;
    border-width:0 20px 5px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 61, 0.9) transparent rgba(255, 216, 61, 0.9);
}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.home-product-item__sale-off-label {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);

}

.home-product__pagination {
    margin: 48px 0 32px 0;
}